@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#nav-bar {
  position: sticky;
  z-index: 10;
  top: 0;
}
.navbar {
  padding: 0;
}
.navbar-brand img {
  height: 90px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #ffcd38;
  font-weight: 600;
  font-size: 20px;
  float: right;
  text-align: left;
}
.bx-menu {
  color: #ffa500;
  font-size: 30px;
 /*  background-color: rgb(169, 167, 167); */
}
.navbar-toggler {
  outline: none;
}
.photo1 {
  width:100%;
  border-radius: 25px;
}
.titre1parg1{
  font-size: 30px;
  height: 50px;
  font-weight: 600;
}
.but1 {
  padding:5px;
  border-radius: 15px;
  height: 50px;
}
#section{
   padding-top:100px; 
}
.col-md-6 parg1{
  padding-bottom: 10px;
}
